/*  base css start */
*{

    margin :0;
}

body{
    height: 100vh;
}

/*  base css end */
.navbar{
    background-color: black;
    height: 60px;
    color :white;
}

.sidebar{
    background-color: blueviolet;
    color: white;
    height: 100%;
    width: 60px;
}